.main-bg main {
  width: 1320px;
  margin: 0 auto;
  padding: 50px 0;
  padding-top: 134px;
}
.main-bg main section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.main-bg main section.chef-rank {
  margin-bottom: 50px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  display: flex !important;
  justify-content: space-between;
  overflow: hidden;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  background: #454b87;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left span.img {
  background: no-repeat center/cover;
  width: 100px;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left span.img.img-chef001 {
  background: url("../images/img_chef001.png");
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left span.img.img-chef002 {
  background: url("../images/img_chef002.png");
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left .l-btm h3.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 6px;
  font-weight: normal;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left .l-btm .text-wrap span.text {
  color: #fff;
  font-weight: lighter;
  display: inline-block;
  font-size: 0.75rem;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .left .l-btm .text-wrap span.text:nth-child(2) {
  margin: 0 4px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right {
  width: calc(100% - 140px);
  padding: 20px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .chef-information {
  margin-bottom: 30px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .chef-information .text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .chef-information .text-wrap h4 {
  font-size: 0.75rem;
  font-weight: normal;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .chef-information .text-wrap .counts {
  font-size: 0.75rem;
  font-weight: 900;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .chef-information .text-wrap:last-child {
  margin-bottom: 0;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .r-buttons {
  display: flex;
  align-items: center;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .r-buttons button {
  border-radius: 5px;
  width: 70px;
  height: 32px;
  border: 1px solid #dbdbdb;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .r-buttons button:first-child {
  margin-right: 15px;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .r-buttons button.active {
  background: #454b87;
  border: 0;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .r-buttons button.active .text {
  color: #fff;
}
.main-bg main section.chef-rank .slick-slider .slick-list .slick-track .slick-slide div div.item .right .r-buttons button .text {
  font-size: 0.75rem;
}
.main-bg main section.specialty {
  margin-bottom: 50px;
}
.main-bg main section.specialty h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.main-bg main section.specialty .menu-wrap .select-wrap {
  margin-bottom: 20px;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 14px;
  row-gap: 30px;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item {
  width: calc(25% - 10.5px);
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .img-frame {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .info-wrap .text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .info-wrap .text-wrap:last-child {
  margin-bottom: 0;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .info-wrap .text-wrap h4 {
  font-size: 14px;
  font-weight: normal;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .info-wrap .text-wrap .icon-wrap {
  display: flex;
  align-items: center;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .info-wrap .text-wrap .icon-wrap .icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: #ddd;
}
.main-bg main section.specialty .menu-wrap .container .item-wrap .item .info-wrap .text-wrap .icon-wrap .icon:last-child {
  margin-right: 0;
}
.main-bg main section.all-menu .title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main-bg main section.all-menu .title-wrap h2 {
  margin-bottom: 0;
}
.main-bg main section.all-menu .container {
  margin-bottom: 50px;
}
.main-bg main section.all-menu .container .item-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 14px;
  row-gap: 30px;
}
.main-bg main section.all-menu .container .item-wrap .item {
  width: calc(25% - 10.5px);
}
.main-bg main section.all-menu .container .item-wrap .item .img-frame {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}
.main-bg main section.all-menu .container .item-wrap .item .img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-bg main section.all-menu .container .item-wrap .item .info-wrap .text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-bg main section.all-menu .container .item-wrap .item .info-wrap .text-wrap:last-child {
  margin-bottom: 0;
}
.main-bg main section.all-menu .container .item-wrap .item .info-wrap .text-wrap h4 {
  font-size: 14px;
  font-weight: normal;
}
.main-bg main section.all-menu .container .item-wrap .item .info-wrap .text-wrap .icon-wrap {
  display: flex;
  align-items: center;
}
.main-bg main section.all-menu .container .item-wrap .item .info-wrap .text-wrap .icon-wrap .icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: #ddd;
}
.main-bg main section.all-menu .container .item-wrap .item .info-wrap .text-wrap .icon-wrap .icon:last-child {
  margin-right: 0;
}
.main-bg main section.all-menu .container .container-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}
.main-bg main section.all-menu .container .container-bottom::before, .main-bg main section.all-menu .container .container-bottom::after {
  content: "";
  height: 1px;
  flex: 1 1;
  background: #ddd;
}
.main-bg main section.all-menu .container .container-bottom button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 6px 20px;
  margin: 0 20px;
}
.main-bg main section.all-menu .container .container-bottom button .text {
  margin-right: 8px;
}
.main-bg main section.all-menu .container .container-bottom button .icon {
  width: 16px;
  height: 16px;
  background: #ddd;
}

/*# sourceMappingURL=home.css.map */
